body {
  background-image: linear-gradient(-150deg, #ED4E4D 0%, rgba(255,255,255,0.65) 100%);
  background-attachment: fixed;
}
//login panel
.input-login {
  background: #FFFFFF;
  border: 1px solid rgba(234,234,234,0.51);
  padding: 10px;
  width: 100%;
  position: relative;
}


.senpai{
  position: relative;

  &:before {
    content: "";
    border-radius: 200px;
    width: 74%;
    height: 12px;
    left: 34px;
    position: absolute;
    bottom: 0;
    box-shadow: 0 2px 17px 0 rgba(187,187,187,0.46);
  }
}



.btn-shadow-wrap {
  position: relative;
  width: 100%;
  float: left;
  display: block;
  background: #000;

  &:before {
    content: "";
    border-radius: 200px;
    width: 74%;
    height: 12px;
    left: 13%;
    position: absolute;
    bottom: 0;
    box-shadow: 0 2px 17px 0 rgba(187,187,187,0.46);
  }


  button {
    position: relative;
  }


}


// mixin shadow parent
@mixin shadow-tatay {
  background: green;
  position: relative;
  width: 100%;
  float: left;
  display: block;

  &:before {
    content: "";
    border-radius: 200px;
    width: 74%;
    height: 12px;
    left: 13%;
    position: absolute;
    bottom: 0;
    box-shadow: 0 2px 17px 0 rgba(187,187,187,0.46);
  }
}

.login-title {
  margin-left: 20%;
  font-family: AmericanTypewriter;
  font-size: 30px;
  color: #FA9292;
  text-shadow: 0 2px 4px rgba(0,0,0,0.50);
}

.panel-login {
  margin-top: 20%;
  position: relative;

  &:before {
    z-index: -1;
    content: "";
    border-radius: 200px;
    width: 74%;
    height: 12px;
    left: 13%;
    position: absolute;
    bottom: 0;
    box-shadow: 0 2px 17px 0 rgba(130, 123, 123, 0.28);
  }
}


.btn-login {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: bold;
  background: #FFDACE;
  border: 0px solid rgba(151,151,151,0.00);
  width: 100%;
  padding: 10px;

}


.btn-login:active {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: bold;
  background: #FFDACE;
  border: 0px solid rgba(151,151,151,0.00);
  width: 100%;
  padding: 10px;
  box-shadow: inset 0 1px 10px 0 rgba(0,0,0,0.47);
}

.admin-container {
  margin-top: 6%;
}

.login-group {
  padding: 8px;
}